body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color:white;
    font-family: 'Arial', sans-serif;
}

.clock {
    font-size: 48px;
    padding: 20px;
    border: 10px solid #61dafb;
    border-radius: 10px;
}
